export(alignReads)
export(analyzeVariants)
export(bamCountUniqueReads)
export(buildConfig)
export(buildGenomicFeaturesFromTxDb)
export(calcConfusionMatrix)
export(calculateCoverage)
export(calculateTargetLengths)
export(checkConfig)
export(checkPicardJar)
export(computeBamStats)
export(computeCoverage)
export(consolidateByRead)
export(countGenomicFeatures)
export(countGenomicFeaturesChunk)
export(detectAdapterContam)
export(detectQualityInFASTQFile)
export(detectRRNA)
export(FastQStreamer.getReads)
export(FastQStreamer.init)
export(FastQStreamer.release)
export(filterQuality)
export(getBams)
export(getChunkDirs)
export(getConfig.integer)
export(getConfig.logical)
export(getConfig.numeric)
export(getConfig.vector)
export(getConfig)
export(getEndNumber)
export(getMemoryUsage)
export(getNumberOfReadsInFASTQFile)
export(getNumericVectorDataFromFile)
export(getObjectFilename)
export(getPackageFile)
export(getRDataFromFile)
export(getRRNAIds)
export(getTabDataFromFile)
export(getTraceback)
export(getTransitionRatio)
export(hashCoverage)
export(hashVariants)
export(hashVector)
export(initDirs)
export(initLog)
export(initLogger)
export(initPipelineFromConfig)
export(initPipelineFromSaveDir)
export(isAboveQualityThresh)
export(isAdapter)
export(isConfig)
export(listIterator.init)
export(listIterator.next)
export(loadConfig)
export(makeDir)
export(markDuplicates)
export(markDups)
export(mergeAlignReads)
export(mergeCoverage)
export(mergeLanes)
export(mergePreprocessReads)
export(mergeSummaryAlignment)
export(parseDCF)
export(parseSummaries)
export(plotDepthByStrand)
export(plotDF)
export(plotMutationMatrix)
export(plotVariantDepth)
export(preprocessReads)
export(processChunks)
export(processVariants)
export(readInputFiles)
export(readRNASeqEnds)
export(relativeBarPlot)
export(removeChunkDir)
export(resource)
export(rpkm)
export(runAlignment)
export(runPipeline)
export(runPipelineConfig)
export(runPreprocessReads)
export(safeExecute)
export(safeUnlink)
export(saveWithID)
export(sclapply)
export(setUpDirs)
export(setupTestFramework)
export(statCountFeatures)
export(TP53GenomicFeatures)
export(traceMem)
export(trimReads)
export(truncateReads)
export(tryKeepTraceback)
export(updateConfig)
export(wrap.callVariants)
export(writeAudit)
export(writeConfig)
export(writeFastQFiles)
export(writeGenomicFeaturesReport)
export(writePreprocessAlignReport)
export(writeSummary)
export(writeVCF)
importFrom(GenomicRanges,seqnames)
importFrom(IRanges,split)
importFrom(VariantAnnotation,writeVcf)
importFrom(VariantTools,callVariants)
importFrom(VariantTools,qaVariants)
importFrom(VariantTools,tallyVariants)
importFrom(VariantTools,variantGR2Vcf)
importFrom(VariantTools,VariantTallyParam)
importMethodsFrom(BiocGenerics,sapply)
importMethodsFrom(Biostrings,unlist)
importMethodsFrom(IRanges,"%in%")
importMethodsFrom(IRanges,as.factor)
importMethodsFrom(IRanges,as.vector)
importMethodsFrom(IRanges,unlist)
